<a href="https://colab.research.google.com/github/gamountainmama/data_dames/blob/main/kaggle_data_avg_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("https://gamountainmama.github.io/data_dames/KaggleData/exams.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86

In [2]:
# Add column for average score
df['total score'] = df['math score'] + df['reading score'] + df['writing score']
df['success'] = df['total score'].apply(lambda x: 0 if x < 210 else 1)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score,success
0,female,group D,some college,standard,completed,59,70,78,207,0
1,male,group D,associate's degree,standard,none,96,93,87,276,1
2,female,group D,some college,free/reduced,none,57,76,77,210,1
3,male,group B,some college,free/reduced,none,70,70,63,203,0
4,female,group D,associate's degree,standard,none,83,85,86,254,1

In [3]:
df = df.drop(['math score', 'reading score', 'writing score'], axis=1)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,total score,success
0,female,group D,some college,standard,completed,207,0
1,male,group D,associate's degree,standard,none,276,1
2,female,group D,some college,free/reduced,none,210,1
3,male,group B,some college,free/reduced,none,203,0
4,female,group D,associate's degree,standard,none,254,1

In [4]:
# Determine the number of unique values in each column.
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
total score                     int64
success                         int64
dtype: object

In [5]:
# Convert categorical data to numeric with `pd.get_dummies`
num_data = pd.get_dummies(df)
num_data.head()

,total score,success,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,207,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,1,0
1,276,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1
2,210,1,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1
3,203,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1
4,254,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1

In [6]:
# Split our preprocessed data into our features and target arrays
X = num_data.drop('success', axis=1).values
y = num_data['success'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [8]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input = X_train_scaled.shape[1]
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=input))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                190

 dense_1 (Dense)             (None, 1)                 11

=================================================================
Total params: 201
Trainable params: 201
Non-trainable params: 0
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [10]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50
24/24 [==============================] - 3s 11ms/step - loss: 0.9179 - accuracy: 0.4440
Epoch 2/50
24/24 [==============================] - 0s 9ms/step - loss: 0.8529 - accuracy: 0.4613
Epoch 3/50
24/24 [==============================] - 0s 7ms/step - loss: 0.8012 - accuracy: 0.4760
Epoch 4/50
24/24 [==============================] - 0s 8ms/step - loss: 0.7618 - accuracy: 0.5027
Epoch 5/50
24/24 [==============================] - 0s 7ms/step - loss: 0.7288 - accuracy: 0.5133
Epoch 6/50
24/24 [==============================] - 0s 11ms/step - loss: 0.7001 - accuracy: 0.5467
Epoch 7/50
24/24 [==============================] - 0s 8ms/step - loss: 0.6761 - accuracy: 0.5720
Epoch 8/50
24/24 [==============================] - 0s 9ms/step - loss: 0.6547 - accuracy: 0.6000
Epoch 9/50
24/24 [==============================] - 0s 8ms/step - loss: 0.6352 - accuracy: 0.6293
Epoch 10/50
24/24 [==============================] - 0s 9ms/step - loss: 0.6174 - accuracy: 0.6493
Epoch 11/50
24/24 [==============================] - 0s 8ms/step - loss: 0.6001 - accuracy: 0.6680
Epoch 12/50
24/24 [==============================] - 0s 8ms/step - loss: 0.5836 - accuracy: 0.6933
Epoch 13/50
24/24 [==============================] - 0s 9ms/step - loss: 0.5678 - accuracy: 0.7040
Epoch 14/50
24/24 [==============================] - 0s 7ms/step - loss: 0.5523 - accuracy: 0.7227
Epoch 15/50
24/24 [==============================] - 0s 4ms/step - loss: 0.5371 - accuracy: 0.7427
Epoch 16/50
24/24 [==============================] - 0s 7ms/step - loss: 0.5222 - accuracy: 0.7600
Epoch 17/50
24/24 [==============================] - 0s 5ms/step - loss: 0.5072 - accuracy: 0.7733
Epoch 18/50
24/24 [==============================] - 0s 5ms/step - loss: 0.4925 - accuracy: 0.7827
Epoch 19/50
24/24 [==============================] - 0s 9ms/step - loss: 0.4774 - accuracy: 0.8040
Epoch 20/50
24/24 [==============================] - 0s 6ms/step - loss: 0.4617 - accuracy: 0.8133
Epoch 21/50
24/24 [==============================] - 0s 5ms/step - loss: 0.4462 - accuracy: 0.8240
Epoch 22/50
24/24 [==============================] - 0s 7ms/step - loss: 0.4304 - accuracy: 0.8307
Epoch 23/50
24/24 [==============================] - 0s 6ms/step - loss: 0.4143 - accuracy: 0.8480
Epoch 24/50
24/24 [==============================] - 0s 4ms/step - loss: 0.3989 - accuracy: 0.8533
Epoch 25/50
24/24 [==============================] - 0s 4ms/step - loss: 0.3833 - accuracy: 0.8627
Epoch 26/50
24/24 [==============================] - 0s 3ms/step - loss: 0.3685 - accuracy: 0.8720
Epoch 27/50
24/24 [==============================] - 0s 8ms/step - loss: 0.3534 - accuracy: 0.8813
Epoch 28/50
24/24 [==============================] - 0s 6ms/step - loss: 0.3392 - accuracy: 0.8893
Epoch 29/50
24/24 [==============================] - 0s 10ms/step - loss: 0.3253 - accuracy: 0.8973
Epoch 30/50
24/24 [==============================] - 0s 9ms/step - loss: 0.3123 - accuracy: 0.9013
Epoch 31/50
24/24 [==============================] - 0s 6ms/step - loss: 0.2996 - accuracy: 0.9027
Epoch 32/50
24/24 [==============================] - 0s 7ms/step - loss: 0.2873 - accuracy: 0.9133
Epoch 33/50
24/24 [==============================] - 0s 5ms/step - loss: 0.2755 - accuracy: 0.9213
Epoch 34/50
24/24 [==============================] - 0s 7ms/step - loss: 0.2642 - accuracy: 0.9280
Epoch 35/50
24/24 [==============================] - 0s 7ms/step - loss: 0.2539 - accuracy: 0.9333
Epoch 36/50
24/24 [==============================] - 0s 9ms/step - loss: 0.2438 - accuracy: 0.9400
Epoch 37/50
24/24 [==============================] - 0s 8ms/step - loss: 0.2343 - accuracy: 0.9427
Epoch 38/50
24/24 [==============================] - 0s 8ms/step - loss: 0.2255 - accuracy: 0.9480
Epoch 39/50
24/24 [==============================] - 0s 4ms/step - loss: 0.2172 - accuracy: 0.9533
Epoch 40/50
24/24 [==============================] - 0s 7ms/step - loss: 0.2093 - accuracy: 0.9573
Epoch 41/50
24/24 [==============================] - 0s 6ms/step - loss: 0.2021 - accuracy: 0.9627
Epoch 42/50
24/24 [==============================] - 0s 11ms/step - loss: 0.1950 - accuracy: 0.9653
Epoch 43/50
24/24 [==============================] - 0s 8ms/step - loss: 0.1882 - accuracy: 0.9693
Epoch 44/50
24/24 [==============================] - 0s 7ms/step - loss: 0.1819 - accuracy: 0.9693
Epoch 45/50
24/24 [==============================] - 0s 7ms/step - loss: 0.1760 - accuracy: 0.9707
Epoch 46/50
24/24 [==============================] - 0s 13ms/step - loss: 0.1701 - accuracy: 0.9733
Epoch 47/50
24/24 [==============================] - 0s 9ms/step - loss: 0.1650 - accuracy: 0.9760
Epoch 48/50
24/24 [==============================] - 0s 5ms/step - loss: 0.1598 - accuracy: 0.9800
Epoch 49/50
24/24 [==============================] - 0s 5ms/step - loss: 0.1549 - accuracy: 0.9813
Epoch 50/50
24/24 [==============================] - 0s 4ms/step - loss: 0.1505 - accuracy: 0.9773

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 [==============================] - 0s 3ms/step - loss: 0.1499 - accuracy: 0.9760
Loss: 0.1498580276966095, Accuracy: 0.9760000109672546