<a href="https://colab.research.google.com/github/gamountainmama/data_dames/blob/main/fl_data_overall_success.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the combined_data2122.csv
import pandas as pd 
df = pd.read_csv("https://gamountainmama.github.io/data_dames/FloridaData/combined_fl_data.csv")
df.head()

,Unnamed: 0,Grade,English Grade,Math Grade,Science Grade,Humanities Grade,Computer Science Grade,Computer Science A
0,2,12,92.47,90.86,92.95,93.96,97.00,1
1,8,9,96.56,90.75,87.52,94.93,91.78,1
2,9,11,92.98,96.70,93.15,95.58,94.90,1
3,10,11,92.98,96.70,93.15,96.00,94.90,1
4,11,10,85.08,81.70,86.12,89.27,81.97,0

In [2]:
# Drop the non-beneficial ID column 'Unnamed: 0'
df = df.drop(columns='Unnamed: 0', axis=1)

df.head()

,Grade,English Grade,Math Grade,Science Grade,Humanities Grade,Computer Science Grade,Computer Science A
0,12,92.47,90.86,92.95,93.96,97.00,1
1,9,96.56,90.75,87.52,94.93,91.78,1
2,11,92.98,96.70,93.15,95.58,94.90,1
3,11,92.98,96.70,93.15,96.00,94.90,1
4,10,85.08,81.70,86.12,89.27,81.97,0

In [3]:
# Determine the datatype of each column
df.dtypes

Grade                       int64
English Grade             float64
Math Grade                float64
Science Grade             float64
Humanities Grade          float64
Computer Science Grade    float64
Computer Science A          int64
dtype: object

In [5]:
# Split our preprocessed data into our features and target arrays
X = df.drop('Computer Science A', axis=1).values
y = df['Computer Science A'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [7]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input = X_train_scaled.shape[1]
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=input))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                70

 dense_1 (Dense)             (None, 1)                 11

=================================================================
Total params: 81
Trainable params: 81
Non-trainable params: 0
_________________________________________________________________

In [8]:
# Compile the model
nn.compile(loss='mse', optimizer='adam', metrics=['accuracy'])

In [9]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50
7/7 [==============================] - 1s 4ms/step - loss: 0.3007 - accuracy: 0.4808
Epoch 2/50
7/7 [==============================] - 0s 3ms/step - loss: 0.2878 - accuracy: 0.5288
Epoch 3/50
7/7 [==============================] - 0s 2ms/step - loss: 0.2756 - accuracy: 0.5769
Epoch 4/50
7/7 [==============================] - 0s 2ms/step - loss: 0.2633 - accuracy: 0.6058
Epoch 5/50
7/7 [==============================] - 0s 3ms/step - loss: 0.2515 - accuracy: 0.6490
Epoch 6/50
7/7 [==============================] - 0s 3ms/step - loss: 0.2404 - accuracy: 0.7115
Epoch 7/50
7/7 [==============================] - 0s 3ms/step - loss: 0.2299 - accuracy: 0.7404
Epoch 8/50
7/7 [==============================] - 0s 3ms/step - loss: 0.2206 - accuracy: 0.7692
Epoch 9/50
7/7 [==============================] - 0s 2ms/step - loss: 0.2118 - accuracy: 0.7740
Epoch 10/50
7/7 [==============================] - 0s 3ms/step - loss: 0.2036 - accuracy: 0.7981
Epoch 11/50
7/7 [==============================] - 0s 4ms/step - loss: 0.1966 - accuracy: 0.8077
Epoch 12/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1902 - accuracy: 0.8029
Epoch 13/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1844 - accuracy: 0.8029
Epoch 14/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1796 - accuracy: 0.7981
Epoch 15/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1752 - accuracy: 0.8077
Epoch 16/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1712 - accuracy: 0.8077
Epoch 17/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1675 - accuracy: 0.8125
Epoch 18/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1643 - accuracy: 0.8125
Epoch 19/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1613 - accuracy: 0.8173
Epoch 20/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1584 - accuracy: 0.8173
Epoch 21/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1558 - accuracy: 0.8173
Epoch 22/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1533 - accuracy: 0.8125
Epoch 23/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1508 - accuracy: 0.8125
Epoch 24/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1485 - accuracy: 0.8125
Epoch 25/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1463 - accuracy: 0.8125
Epoch 26/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1441 - accuracy: 0.8125
Epoch 27/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1419 - accuracy: 0.8125
Epoch 28/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1398 - accuracy: 0.8125
Epoch 29/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1379 - accuracy: 0.8125
Epoch 30/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1359 - accuracy: 0.8077
Epoch 31/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1338 - accuracy: 0.8029
Epoch 32/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1320 - accuracy: 0.8029
Epoch 33/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1300 - accuracy: 0.8077
Epoch 34/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1282 - accuracy: 0.8029
Epoch 35/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1266 - accuracy: 0.8077
Epoch 36/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1252 - accuracy: 0.8173
Epoch 37/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1237 - accuracy: 0.8269
Epoch 38/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1223 - accuracy: 0.8317
Epoch 39/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1209 - accuracy: 0.8413
Epoch 40/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1197 - accuracy: 0.8413
Epoch 41/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1185 - accuracy: 0.8462
Epoch 42/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1172 - accuracy: 0.8462
Epoch 43/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1160 - accuracy: 0.8462
Epoch 44/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1148 - accuracy: 0.8462
Epoch 45/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1137 - accuracy: 0.8510
Epoch 46/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1126 - accuracy: 0.8558
Epoch 47/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1113 - accuracy: 0.8558
Epoch 48/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1103 - accuracy: 0.8558
Epoch 49/50
7/7 [==============================] - 0s 2ms/step - loss: 0.1091 - accuracy: 0.8558
Epoch 50/50
7/7 [==============================] - 0s 3ms/step - loss: 0.1079 - accuracy: 0.8558

In [10]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

3/3 [==============================] - 0s 4ms/step - loss: 0.0677 - accuracy: 0.9000
Loss: 0.06768564134836197, Accuracy: 0.8999999761581421